<div class="text-left">
  <h3>エンジニアプロフィール</h3>
  <h4>ユーザID：<%= @user.id %></h4>
  <h4>ユーザ名：<%= @user.name %></h4>
  <h4>email   ：<%= @user.email %></h4>
  <h4>登録種別：<%= @user.regtype %></h4>
  <h4>エンジニアID：<%= @engineer.id %></h4>
  <h5>プロフィール：<%= @engineer.profile %></h5>
</div>
